/* Sidebar styling */
/* Reset the margins and paddings of the body and sidebar */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}


#historyTable th, #historyTable td, .table th, .table td {
    padding: 0.75rem 1.25rem;
}

.scrollable-container {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 10px;
}

/* Nav styles */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0;
}

.nav-link {
    display: block;
    color: #dcdcdc;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #495057;
    color: white;
}

/* Active link highlight */
.nav-link.active {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: none;
}

textarea:invalid {
    box-shadow: 0 0 5px 1px red;
}

textarea:focus:invalid {
    box-shadow: none;
}

#categoryChart, #branchChart {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#categoryChart {
    max-width: 450px;
    max-height: 450px;
}

#branchChart {
    max-width: 600px;
    max-height: 600px;
}
